<div class="genie-box col-xs-6 col-xs-offset-3">

<h2>

	Upload your Image

</h2>
<br/>
<br/>
<%= simple_form_for @post do |f| %>
	
	<%= f.input :title, label: 'What is this image about?', placeholder: 'Remote beaches, ' %>
	<br />
	<%= f.input :description, label: 'Tell me more', placeholder: 'Maceio, Guajira, natal' %>
	<br />
	<%= f.input :image %>
	<br />
	<%= f.button :submit, :class => 'btn btn-warning' %>
	
	


<% end %>

</div>